<div>
    <p> @Order.FirstName @Order.LastName</p>
    <p> @Order.Email </p>
    <p> @Order.PhoneNumber</p>
    <p> @Order.GiftBaskets.Count</p>
</div>
@code
{
    [Parameter]
    public  Order Order { get; set; }
}
