@page "/order/history"

@using System.Collections.Generic
@using gui_dos.Data
@using Microsoft.EntityFrameworkCore;

@inject IDbContextFactory<IsvaerftetDbContext> DbContextFactory
@inject NavigationManager NavMan

<AuthorizeView Context="AuthContext">
    <Authorized>
    <MudTable Items="@oldOrders" Hover="true" Breakpoint="Breakpoint.Sm" Dense="true" Filter="new Func<Order,bool>(FilterFunc1)" SortLabel="Sort By">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Ordrehistorik</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh Style="width:5%"><MudTableSortLabel SortBy="new Func<Order,object>(x=>x.OrderId)" InitialDirection="SortDirection.Ascending">Nr.</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Order, object>(x=>x.FirstName)">Navn</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Order, object>(x=>x.Email)">Email</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Order, object>(x=>x.DateOrdered)">Oprettet</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Order, object>(x=>x.DateDeadline)">Deadline</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Order, object>(x=>x.Price)">Pris</MudTableSortLabel></MudTh>
            <MudTh Style="width:10%">Mere Info</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr.">@context.OrderId</MudTd>
            <MudTd DataLabel="Navn">@context.FirstName @context.LastName</MudTd>
            <MudTd DataLabel="Navn">@context.Email</MudTd>
            <MudTd DataLabel="Oprettet">@context.DateOrdered.ToShortDateString()</MudTd>
            <MudTd DataLabel="Afsluttet">@context.DateDeadline.ToShortDateString()</MudTd>
            <MudTd DataLabel="Pris">@context.Price kr.</MudTd>
            <MudTd>
                <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Info" Color="Color.Transparent" Size="Size.Small" OnClick="@(() => ShowBtnPress(context.OrderId))">
                    @((context.ShowDetails == true)? "Skjul" : "Vis")
                </MudButton>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>
                Intet match var fundet <br />
                Det er muligt at søge efter: Fornavn, Efternavn, OrdrerID, Telefon nr. og Pris<br />
                <p class="text-muted">Disse kan ikke kombineres</p>
            </MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>Loading...</MudText>
        </LoadingContent>
        <ChildRowContent>
            @if (context.ShowDetails)
            {
                <MudTr>
                    <td colspan="7">
                        <MudCard Elevation="0">
                            <MudCardContent Class="px-4">
                                <MudGrid Justify="Justify.SpaceBetween">
                                    <MudItem xs="12" sm="4">
                                        <MudText Typo="Typo.h6" Align="Align.Center">Ordre detaljer:</MudText>
                                        <MudPaper Class="p-2">
                                            <MudText Typo="Typo.body1"><strong>Navn:</strong> @context.FirstName @context.LastName </MudText>
                                            <MudText Typo="Typo.body1"><strong>Email:</strong> @context.Email </MudText>
                                            <MudText Typo="Typo.body1"><strong>Telefon:</strong> @context.PhoneNumber</MudText>
                                            <MudText Typo="Typo.body1"><strong>Pris:</strong> @context.Price kr.</MudText>
                                            <MudText Typo="Typo.body1"><strong>Kommentar:</strong> @context.Comment</MudText>
                                            <div class="p-2 d-flex justify-space-between">
                                                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Filled.History" 
                                                 Size="Size.Small" OnClick="() => OrderChangelog(context)">
                                                    Historik
                                                </MudButton>
                                            </div>
                                        </MudPaper>
                                    </MudItem>
                                    <MudItem xs="12" sm="8">
                                        <MudText Typo="Typo.h6" Align="Align.Center">
                                            Ordre indhold:
                                        </MudText>
                                        <MudTable Items="@context.GiftBaskets" Context="content" Hover="true" Breakpoint="Breakpoint.None">
                                            <HeaderContent>
                                                <MudTh Style="width: 30%">Titel</MudTh>
                                                <MudTh Style="width: 50%">Kommentar</MudTh>
                                                <MudTh Style="width: 20%">Pris</MudTh>
                                            </HeaderContent>
                                            <RowTemplate>
                                                <MudTd DataLabel="ID">@content.Title</MudTd>
                                                <MudTd DataLabel="Kommentar">@content.Comment</MudTd>
                                                <MudTd DataLabel="Pris">@content.Price kr.</MudTd>
                                            </RowTemplate>
                                        </MudTable>
                                    </MudItem>
                                </MudGrid>
                            </MudCardContent>
                        </MudCard>
                    </td>
                </MudTr>
            }
        </ChildRowContent>
    </MudTable>
    </Authorized>
    <NotAuthorized>
        <LoginDisplay />
    </NotAuthorized>
</AuthorizeView>
@code
{
    private List<Order> oldOrders;
    private string searchString = "";
    private bool FilterFunc1(Order element) => FilterFunc(element, searchString);

    protected override async Task OnInitializedAsync()
    {
        using (var ctx = DbContextFactory.CreateDbContext())
        {
            oldOrders = await ctx.Orders
                                 .Where(o => o.Status >= OrderStatus.Delivered)
                                 .OrderBy(t => t.DateOrdered)
                                 .ToListAsync();
        }
    }

    private void ShowBtnPress(int nr)
    {
        Order tmpPerson = oldOrders.First(f => f.OrderId == nr);
        tmpPerson.ShowDetails = !tmpPerson.ShowDetails;
    }

    private bool FilterFunc(Order element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.FirstName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.LastName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.OrderId} {element.PhoneNumber} {element.Price}".Contains(searchString))
            return true;
        return false;
    }

    private void OrderChangelog(Order o)
    {
        NavMan.NavigateTo($"/order/changelog/{o.OrderId}");
    }
}
