@page "/product/changelog/{ProductId}"

@using gui_dos.Data
@using System.Collections.Generic
@using Microsoft.EntityFrameworkCore;

@inject IDbContextFactory<IsvaerftetDbContext> DbContextFactory

<AuthorizeView Context="AuthContext">
    <Authorized>  
        @if (changelog == null)
        {
            <div class="text-center m-3">
                <MudText Align="Align.Center" Typo="Typo.h6" Class="m-2">
                    Intet produkt med id @ProductId fundet i databasen
                </MudText>
                <MudButton StartIcon="@Icons.Filled.ArrowBack" Link="/product" Variant="Variant.Outlined">
                    Tilbage
                </MudButton> 
            </div>  
        }
        else
        {  
            <MudTable Items=@changelog Hover="true" Class="border border-dark m-2">
                <ToolBarContent>
                    <MudText Typo="Typo.h5" Class="mr-auto">
                        Ændringshistorik af "@product.Title"
                    </MudText>
                    <MudButton StartIcon="@Icons.Filled.ArrowBack" Link="/product" Variant="Variant.Outlined">
                        Tilbage
                    </MudButton> 
                </ToolBarContent>
                <HeaderContent>
                    <MudTh Style="width:60%">Ændring:</MudTh>
                    <MudTh Style="width:20%">Af:</MudTh>
                    <MudTh Style="width:20%">Dato:</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Ændring:">@context.ChangeString</MudTd>
                    <MudTd DataLabel="Af:">@context.Name</MudTd>
                    <MudTd DataLabel="Dato:">@context.Date</MudTd>
                </RowTemplate>
            </MudTable>
        }
    </Authorized>
    <NotAuthorized>
        <LoginDisplay />
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string ProductId { get; set; }

    private Product product;
    
    private List<Change> changelog;

    protected override async Task OnInitializedAsync()
    {
        using (var ctx = DbContextFactory.CreateDbContext())
        {
            int id = Int32.Parse(ProductId);
            product = await ctx.Products.SingleOrDefaultAsync(p => p.ProductId == id);
            if(product != null) {
                changelog = product.Changelog;
                changelog.Reverse();
            }
        }
    }
}
